<section>
  <div class="container">
    <div class="about">
      <div class="about-details" appFade="up" [delay]="200">
        <h2>About Me</h2>
        <h3 class="subtitle">An enthusiastic Junior Software Engineer based in South Africa,Pretoria</h3>
        <p class="first-desc">Passionate and dedicated Junior Software Engineer with 3 years of professional experience. I bring a solid foundation from working on live projects and am eager to contribute to your team's success. 
          Proactive collaborator with a hunger for continuous learning. Let's build something amazing together!</p>
        <a href="assets/img/Percy Rakgoale Resume 2024.pdf" download="Percy Rakgoale Resume">
          <button class="btn">Download CV</button>
        </a>
      </div>
      <div class="about-img" appFade="up">
        <img ngSrc="assets/img/aboutpic1.png" alt="Percy Rakgoale" width="1200" height="1000"> 
      </div>
    </div>
  </div>
</section>
