<section>
  <div class="container">
    <h2>Experience</h2>
    <div class="experience">
      <div class="experience-card" appFade="up">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Junior Software Engineer</h3>
          <span class="experience-card-info-date">Softmeet| Onsite</span>
          <span class="experience-card-info-date">Mar 2022 - Present</span>
          <div>
            <span class="experience-card-info-badge">Contract</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Softmeet </h3>
          <p>Develop and maintain both the front-end and back-end of our Mobile
            applications
            Collaborate with other developers and cross-functional teams to create high quality software
            Write clean, reusable, and efficient code
            Prioritisation of complex workloads
            Support, fix and maintain existing code
            Troubleshoot and debug issues in our software
            Continuously improve our software and development processes
            Stay up-to-date with emerging trends and technologies in software development
            Unit Testing and TDD
            </p>
        </div>
      </div>
      <div class="experience-card" appFade="up" [delay]="200">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Graduate Software Developer</h3>
          <span class="experience-card-info-date">ML-Data System| Hybrid</span>
          <span class="experience-card-info-date">Jan 2021 - Feb 2022</span>
          <div>
            <span class="experience-card-info-badge">Contract</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">ML-Data </h3>
          <p>Build and Maintain Apps: Create and take care of mobile apps
            Analyse requirements and quote for new functionality
            Debugging : If something goes wrong with the apps, figure out what's broken
            and make it work again.
            Get Better at Your Job: Keep learning and improving how you make software
            and how the team works together.
            Support, fix and maintain existing code
            Troubleshoot and debug issues in our software
            Continuously improve our software and development processes
            Stay up-to-date with emerging trends and technologies in software development
            Manage Your Time: Make sure you use your time wisely and get things done
            when you're supposed to.</p>
        </div>
      </div>
      
    </div>
    <hr>
    <h2>Education & Skills</h2>
    <div class="education-skill">
      <div class="education" appFade="up">
        <div class="education-card">
          <span class="education-date">2018-2021</span>
          <h3 class="education-title">National Diploma in Softwaare Development</h3>
          <span class="education-institute">Tshwane University of Technology</span>
        </div>
        <div class="education-card">
          <span class="education-date">2022</span>
          <h3 class="education-title">ICDL Certificate</h3>
          <span class="education-institute">Regen Institute</span>
        </div>
        <div class="education-card">
          <span class="education-date">2017</span>
          <h3 class="education-title">Core Computer Skills</h3>
          <span class="education-institute">Avuxeni Computer Academy</span>
        </div>
        <div class="education-card">
          <span class="education-date">2016</span>
          <h3 class="education-title">National Senior Certificate</h3>
          <span class="education-institute">Westenburg Secondary School</span>
        </div>
      </div>
      <div class="skill" appFade="up" [delay]="200">
        <div class="skill-card">
          <h3 class="skill-count">92%</h3>
          <div class="skill-info">
            <h4 class="skill-title">HTML</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <h3 class="skill-count">85%</h3>
          <div class="skill-info">
            <h4 class="skill-title">CSS</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-85"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <h3 class="skill-count">90%</h3>
          <div class="skill-info">
            <h4 class="skill-title">Javascript</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <h3 class="skill-count">80%</h3>
          <div class="skill-info">
            <h4 class="skill-title">Angular</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <h3 class="skill-count">70%</h3>
          <div class="skill-info">
            <h4 class="skill-title">C# | .Net</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <h3 class="skill-count">75%</h3>
          <div class="skill-info">
            <h4 class="skill-title">MangoDB</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
