<section>
  <div class="container">
    <div class="services-title">
      <h2>What I Do</h2>
      <p>As a Full Stack Engineer, I offer comprehensive services to bring your ideas to life. Whether it's developing robust web and mobile applications, crafting engaging user interfaces with responsive UI/UX design, or implementing powerful server-side programming for seamless functionality, I've got you covered.</p>
    </div>
    <div class="services">
      <div class="services-card" appFade="left">
        <h3 class="services-card-subtitle">Full Stack Development</h3>
        <h3 class="services-card-title">Web & Mobile Applications</h3>
        <p>I specialize in Full Stack Development, creating dynamic and scalable web and mobile applications that cater to your business needs. From conceptualization to deployment, I ensure a seamless development process.</p>
      </div>
      <div class="services-card" appFade="left" [delay]="200">
        <h3 class="services-card-subtitle">Frontend Development</h3>
        <h3 class="services-card-title">Responsive UI/UX Design</h3>
        <p>With a focus on Frontend Development, I design intuitive and responsive user interfaces. Your users will experience a visually appealing and user-friendly design that enhances their interaction with your application.</p>
      </div>
      <div class="services-card" appFade="left" [delay]="400">
        <h4 class="services-card-subtitle">Backend Development</h4>
        <h3 class="services-card-title">Server-side Programming</h3>
        <p>My expertise in Backend Development ensures robust server-side programming, enabling your application to handle data, logic, and security seamlessly. I prioritize performance, security, and scalability in every aspect of backend development.</p>
      </div>
      <div class="services-card" appFade="left" [delay]="600">
        <h4 class="services-card-subtitle">C# Stack Development</h4>
        <h3 class="services-card-title">Building with C# and .NET</h3>
        <p>Proficient in C# and .NET, I leverage the power of the C# stack to create efficient, secure, and scalable applications. From desktop to web, I harness the versatility of C# for diverse software solutions.</p>
      </div>
    </div>
  </div>
</section>